.pagination-wrapper{
    text-align: center;    
    padding: 32px 8px 16px 8px;
}

.pagination {
    display: inline-block;
    line-height: 20px;
    margin-bottom: auto;
  
    a {
      cursor: pointer;
      color: black;    
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;    
    }
  
    li{
      display: inline;
    }
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .disabled {
    pointer-events:none;
    opacity:0.6;
  }

  @media (max-width: 800px) { 
    .pagination-wrapper{      
        padding: 0;

        .pagination {    
          padding: 0;
        }
    }
  }
    