<div class="pagination-wrapper">
    <ul class="pagination">
        <li [ngClass]="{disabled:pginator.currentPage === 1}">
          <a role="button" (click)="onSetPage(pginator.currentPage - 1)"> ❮ Prev Page</a>
        </li>

        <li><label>{{pginator.currentPage}}&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;{{totalPages}}</label></li>
        
        <li [ngClass]="{disabled:pginator.currentPage === totalPages}">
          <a role="button" (click)="onSetPage(pginator.currentPage + 1)"> Next Page ❯</a>
        </li>
      </ul>
</div>