@import '../sass/theme-main';

.image{
  @include theme-border-font;
  
  margin: auto; 
  height: 100px;
  width: auto;
}

.img-wrapper {
  transition: 0.3s filter;
}

.card{
  @extend .card-basic;
  @include hover-transition;

  grid-template-columns: 6fr 1fr;
  margin-bottom: 0.5rem;  
  
  .card-link {  
    text-decoration: none;      
  }       
  
  &:hover {
    .img-wrapper {
      filter: brightness(70%);
    }
  }  
}

.card-description {
  display: flex; 
  padding: 0;

  .card-text{
    color: theme-color(font-color, base);
    display: inline-block;
    text-align: left;
    padding-left: 1rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 4rem;
  
    h2, p{
      margin: 0;
    }
    h4{
      margin: 0;
      padding-bottom: 5px;
    }
  }
}

.selected {
  background-color: theme-color(primary, base);
  .card-description {
    .card-text{
      color: theme-color(font-color, light);
    }
  }
}