<div class="card" [class.selected]="selected">
    <a class="card-link" [routerLink]="['details', product.id]" aria-label="Details">
        <div class="card-description">
            <div class="img-wrapper">
                <img class="image" src="/{{product.thumbnailUrl}}" alt="Image">
            </div>          
        
            <div class="card-text">
                <h4>{{product.name}}</h4>              
                <p>{{product.description}}</p>
            </div>
        </div>    
    </a>
    <div class="button-wrapper">
        <button class="app-button btn-delete btn-mobile" aria-label="Delete product" (click)="remove()">
            <div class="mobile-caption">&#10005;</div>            
        </button>
    </div>     
</div>