@import '../sass/theme-main';

.pagination-wrapper{
    text-align: center;

    .pagination {
      display: inline-block;
      line-height: $theme-line-height;
      padding-inline-start: 0;

      label {
        cursor: default;
      }

      a {
        cursor: pointer;
        color: theme-color(font-color, base);    
        padding: 0.4rem 1rem;
        text-decoration: none;
        background-color: theme-color(background, base);
        transition: background-color .3s;
        
        .active {
          background-color: theme-color();
          color: white;
          border: 1px solid theme-color();
        }         
      }
    
      li{
        display: inline;
      }

      .disabled {
        background-color: theme-color(background, base);
        color: theme-color(font-color, base);
        box-shadow: none;
        cursor: auto;
        opacity:0.6;

        a{
          box-shadow: none;
        }
      }
    }
}    