@import  '../sass/theme-main';
body{
  clear:both;
}

.body-grid{  
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 2rem;
  background-color: theme-color(background, base);
}

.product-card-wrapper{
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr;
  display: table-row-group;
  padding-right: 0.5rem;
  }

.product-details-wrapper{
  background-color: theme-color(background, base);
}


/* Add responsiveness */

@media screen and (max-width: 800px) {
  .body-grid{    
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    border-width: $theme-border-width-mobile;
  }

  .product-card-wrapper{
    padding: 0;
  }

  .product-card {
    margin: 0.1rem;
  } 
  
}