<main>
    <app-product-filter></app-product-filter>

    <ng-container *ngIf="values$ | async as values">
        <div class="body-grid">
            <div class="product-card-wrapper" [@slideListInOutAnimation]="(productsOnPage$ | async)?.length">
                <div *ngFor="let product of (productsOnPage$ | async) as products; let i = index; trackBy: trackByFn"
                    (click)="selectProduct(i)" class="product-card">                                            
                        <app-product-card [product]="product" [selected]="selectedInd === i"></app-product-card>                        
                </div>
            </div>
        
            <div class="product-details-wrapper" *ngIf="selectedInd>=0">
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-container>
</main>

<footer>
    <app-pagination></app-pagination>
</footer>