<main>
<app-product-filter (sort)="sort($event)" (filter)="filter($event)"></app-product-filter>

<div class="body-grid">
  <div class="product-card-wrapper" *ngIf="products">
      <div *ngFor="let product of products" class="product-card" [class.selected]="product.id === selectedId" 
        (click)="selectProduct(product.id)">
            <a [routerLink]="['details', product.id]">                    
                <app-product-card [product]="product"></app-product-card>
            </a>
      </div>
  </div>
  
  <div class="product-details-wrapper" *ngIf="selectedId>0">    
      <app-product-details-card></app-product-details-card>        
  </div>
</div>
</main>

<footer>
    <app-pagination *ngIf="paginator" [paginator]="paginator" (setPage)="setPage($event)"></app-pagination>
</footer>