@import  '../sass/theme-main';
body{
  clear:both;
}

.body-grid{  
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 2rem;
}

.product-card-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  display: table-row-group;

  .product-card  {
    a {  
      text-decoration: none;      
    }
    &.selected{
      background-color: theme-color(primary, base); 
    }     
  }
}




.product-details-wrapper{
  @include theme-border-font;
  
  display: grid;
  grid-template-columns: 1fr;
  padding: $theme-basic-padding;
  margin-bottom: $theme-basic-padding;   
}


/* Add responsiveness */

@media screen and (max-width: 800px) {
  .body-grid{    
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    border-width: $theme-border-width-mobile;
  }

  .product-details-wrapper{
    height: 0;
    visibility: collapse;
  }

  .product-card {
    margin: 0.1rem;    
    border-width: $theme-border-width-mobile;
  } 
  
}