body{
  clear:both;
}

.body-grid{
  height: 500px;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 40px;
}

.product-card {
  border: solid; 
  margin: 8px;
  height: 84px;
}

.product-card-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}

.product-details-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  margin: 8px;
  height: 500px;   
}

.body-bottom-wrapper{
    text-align: center;
    margin: 16px 8px;
}
.pagination {
  display: inline-block;
  line-height: 20px;
  margin-bottom: auto;

  a {
    cursor: pointer;
    color: black;    
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;    
  }

  li{
    display: inline;
  }
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

.filter-wrapper{
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 16px 48px 8px 48px;  
}
  
.form-inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;  
}

.filter{
  padding: 16px 16px 8px 16px;
}

.sort{
  margin-left: auto;
  padding-right: 8px;

  form{
    border: solid;
  }

  select{
    font-size: 1em;
    width: 216px;  
  }
}

.search-form{
  border: solid;
  border-radius: 15px;
  margin-left: 10px;

  input{
    border-radius: 15px;
    font-size: 1em;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;  
    padding-inline-start: 20px;  
    width: 100%;
    border-style: solid;
    border-color: transparent;
    margin: 2px;
  }
}

/* Add responsiveness */

@media screen and (max-width: 1024px) {  
  .form-inline {
    flex-flow: unset;
    select {
      width: 9em;
    }
    .sort{
      padding-left: 0.5em;
    }
  }  
}

@media (max-width: 800px) {
  .body-grid{    
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    border-width: 0.1 rem;
  }

  .filter-wrapper{
    display: grid;
    grid-template-columns: 1fr;    
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0; 
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    
    input {
      margin: 10px 0;
    }

    .sort{
      padding-left: 0;
    }
  }

  .search-form {
    margin: 0;
    width:100%;
    padding-bottom: 5px;
    border-width: 0.05em;
  }

  .sortForm {
    width:100%;
  }

  .sort {
    form{
      border-width: 0.05em;
    }
    select{
    width: -webkit-fill-available;
    padding-bottom: 5px;
    }

    .form-inline{
      border-width: 0.05em;
    }
  }

  .pagination {    
    padding: 0;
  }

  .product-details-wrapper{
    height: 0;
    visibility: collapse;
  }

  .product-card {
    margin: 0.1rem;
    height: 100px;
    border-width: 0.05em;
  } 
  
}