<ng-container *ngIf="product">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="details-card">
    <div class="img-wrapper"> 
      <img class="image" src="{{product.url}}" alt="Image">
    </div>
      
    <label>
      Name:
      <input class="input-basic" type="text" formControlName="name" required>
    </label>
    <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors">
      Name is required.
    </span>                        
    
    <label>
      Description:
      <textarea class="textarea-descript" name="description" formControlName="description"
        id="description" 
        rows="5" cols="30"></textarea>
    </label>
     
    <label>
      Price                    
      <div class="price-wrapper">
        <input class="input-basic" type="number" formControlName="price" required>&nbsp;$
      </div>  
    </label>
    <span *ngIf="(price.dirty || price.touched) && price.invalid && price.errors">
      Price is required.
    </span>                       

    <div class="button-wrapper">
        <button class="app-button btn-save" type="submit" [disabled]="!productForm.valid">Save</button>
    </div>      
  </form>
</ng-container>