@import '../sass/theme-main';

.details-card {
  @extend .card-basic;  

  input[type=text] {  
    width: -webkit-fill-available;
  }
  
  input[type=number]{  
    display: block;
    max-width: 200px;  
  }
  
  label {
    display: block;
    line-height: $theme-line-height;
    padding-top: $theme-basic-padding;
  }
  
  .textarea-descript {
    @include input-border;
    font-family: theme-font();
    color: theme-color(font-color, base);
  
    width: -webkit-fill-available;
    padding: .4rem;
    display: flex; 
  }

  .price-wrapper{
    display: flex; 
    align-items: center;
  }
  
  .img-wrapper {        
    display: inline;

    .image{
      @include theme-border-font;
      
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      height: 100px;
      width: auto;
      min-height: 50px;
    }
  }

  .button-wrapper{    
    padding: 0;
    padding-top: $theme-basic-padding;  
  }
}

.form-inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;    
}