<div class="filter-wrapper">
    <div class="form-inline">
      <a class="app-button btn-add btn-mobile" [routerLink]="['add']" aria-label="Add product">
        <div class="mobile-caption">
          <div class="caption">&#10005;</div>
        </div>      
      </a>
      <div class="search-form">
        <input #searchBox id="search-box" class="search-input" type="text" name="" 
          placeholder="Search..." (input)="search(searchBox.value)" aria-label="Search">
      </div>

      <div class="sort form-inline">
        <label>Sort by</label>
        <form [formGroup]="sortForm">
          <select class="sortSelect" formControlName="sortBy" (change)="onSort()">
            <option *ngFor="let sortBy of sortByList" [ngValue]="sortBy">
              {{ sortBy }}
            </option>
          </select>
        </form>
      </div>
    </div>
 </div>