@import '../sass/theme-main';


.filter-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 2rem;    
    background-color: theme-color(background, base);      
}

.form-inline{
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    border: none; 
}

.filter{
    padding: 0.9rem 0.9rem 0.5rem 0.9rem;
  }
  
  .sort{
    flex-direction: row;
    margin-left: auto;
    padding-right: 0.5rem;
    font-size: 1rem;    
    label {
      color: theme-color(font-color, base);
      padding: 0 0.6rem
    }

    form{      
      font-size: 1rem;
      font-family: theme-font();
      color: theme-color(font-color, base);
      background-color: theme-color(background, light);
      padding: .4rem 0;      
      min-width: 150px;    

      .sortSelect{      
        outline: none;
        border: none;
        font-size: 1rem;
        width: 100%;     
        padding-inline-start: 1.1rem;
      }
    }
  }
  
  .search-form{
    font-size: 1rem;
    font-family: theme-font();
    color: theme-color(font-color, base);
    background-color: theme-color(background, light);
    flex: 0 0 40%;
    max-width: 40%;
    border-radius: 0;
    margin-left: $theme-basic-margin;
    padding: .4rem;
  
    input{
      outline: none;      
      font-size: 1rem;
      bottom: 0;      
      left: 0;
      margin: 0;  
      padding-inline-start: 1.1rem;  
      width: 100%;
      border-style: none;      
    }
  }

  a{
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
  }
  
  @media (max-width: 800px) {  
    .filter-wrapper{
      display: grid;
      grid-template-columns: 1fr;    
      width: 100%;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 1rem;
      
      .form-inline {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
      }
      .sort{
        flex-direction: row;
      }
    }
  
    .search-form {
      margin: 0;
      flex: auto;
      max-width: 100%;
    }
  
    .sortForm {
      width:100%;     
    }
  
    .sort {
      padding: 0;
      padding-top: 1rem;
      flex-direction: row;

      label {
        margin: auto;
        margin-right: 0;
        padding: 0;
      }

      form{
        width: 80%;    
        margin-left: auto;

        .sortSelect{
          width: -webkit-fill-available;
        }
      }
   
    }  
    
  }