@import '../sass/theme-main';

.filter-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 8px 40px 8px 40px;  
}

.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;  
}

.filter{
    padding: 16px 16px 8px 16px;
  }
  
  .sort{
    margin-left: auto;
    padding-right: 8px;
    label {
      padding: 0 10px;
    }

    form{
      @include theme-border-font;      
    }
  
    select{
      font-size: 1em;
      width: 216px;  
    }
  }
  
  .search-form{
    @include theme-border-font;
    
    border-radius: 15px;
    margin-left: $theme-basic-margin;
  
    input{
      border-radius: 15px;
      font-size: 1em;
      bottom: 0;
      box-sizing: border-box;
      left: 0;
      margin: 0;  
      padding-inline-start: 20px;  
      width: 100%;
      border-style: solid;
      border-color: transparent;
      margin: 2px;
    }
  }

  @media screen and (max-width: 1200px) {  
    .form-inline {
      flex-flow: unset;
      select {
        width: 9em;
      }
      .sort{
        padding-left: 0.5em;
      }
    }  
  }
  
  @media (max-width: 800px) {
    .filter-wrapper{
      display: grid;
      grid-template-columns: 1fr;    
      width: 100%;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 0; 
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      
      input {
        margin: 10px 0;
      }
  
      .sort{
        padding-left: 0;
      }
    }
  
    .search-form {
      margin: 0;      
      padding-bottom: 5px;
      border-width: 0.05em;
    }
  
    .sortForm {
      width:100%;
    }
  
    .sort {
      form{
        border-width: 0.05em;
      }
      select{
        width: -webkit-fill-available;
        padding-bottom: 5px;
      }
  
      .form-inline{
        border-width: 0.05em;
      }
    }  
    
  }