@import "app/sass/theme-main";

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
  font-family: theme-font();
  font-size: theme-font(base, size);
  min-width: 300px;
  background-color: theme-color(background, base);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header{
  @include theme-border-font;
  color: theme-color(font-color, light);

  text-align:left;
  border-right: 0;
  border-left: 0;  
  padding: 0 2rem;
  background-color: theme-color();

  h2{
    margin: 2rem 0;
  }
}

/* Add responsiveness */

@media screen and (max-width: 800px) {
  html, body {
    font-size: theme-font(mobile, size);
  }  

  body{
    margin: 0;

    .form-inline {
      flex-direction: column;
      align-items: stretch;
  
      input {
        margin: 0.6rem 0;
      }
    }

    .header{
      text-align: center;
      padding: 0;
    }
  }  
}